In [1]:
import numpy as np
import pandas as pd
from typing import Tuple
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('users.csv')

In [4]:
X = df.drop('delay_days', axis=1)

In [5]:
y = df['delay_days']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [14]:
np.mean(X, axis=0)

age                  49.0980
income            57635.0314
dependents            5.0970
has_property          0.4977
has_car               0.5069
credit_score        599.5923
job_tenure           19.9183
has_education         0.4949
loan_amount      266183.3265
loan_period         917.9430
dtype: float64

In [7]:

class GradientBoostingRegressor:
    """Gradient boosting regressor."""

    def __init__(self):
        self.base_pred_ = None

    def fit(self, y):
        """Fit the model to the data.

        Args:
            X: array-like of shape (n_samples, n_features)
            y: array-like of shape (n_samples,)

        Returns:
            GradientBoostingRegressor: The fitted model.
        """
        # YOUR CODE HERE...
        y = np.asarray(y)
        self.base_pred_ = np.mean(y)

        return self.base_pred_

    def predict(self, X):
        """Predict the target of new data.

        Args:
            X: array-like of shape (n_samples, n_features)

        Returns:
            y: array-like of shape (n_samples,)
            The predict values.

        """
        # YOUR CODE HERE...
        predictions = np.full(len(X), self.base_pred_)

        return predictions

In [8]:
def mse(y_true: np.ndarray, y_pred: np.ndarray) -> Tuple[float, np.ndarray]:
    """Mean squared error loss function and gradient."""
    # YOUR CODE HERE
    loss = np.mean((y_pred - y_true)**2)
    grad = np.mean(y_pred - y_true)
    return loss, grad


def mae(y_true: np.ndarray, y_pred: np.ndarray) -> Tuple[float, np.ndarray]:
    """Mean absolute error loss function and gradient."""
    # YOUR CODE HERE
    loss = np.mean(np.abs(y_pred - y_true))
    errors = np.abs(y_pred - y_true)
    if np.any(errors > 0):
        grad = 1
    elif np.any(errors < 0):
        grad = -1
    else:
        grad = 0

    return loss, grad

In [28]:
X

,age,income,dependents,has_property,has_car,credit_score,job_tenure,has_education,loan_amount,loan_period
0,76,32181,3,0,1,814,28,1,142434,1770
1,69,52789,8,1,0,501,28,1,120887,1590
2,19,70535,1,0,1,325,26,1,188766,810
3,31,85271,1,0,1,525,29,1,406792,330
4,18,19974,2,0,1,618,34,1,155240,1560
...,...,...,...,...,...,...,...,...,...,...
9995,37,81720,9,1,0,442,14,1,545892,1290
9996,73,63861,1,1,1,853,34,0,182648,180
9997,21,45667,7,0,1,619,4,1,106619,930
9998,49,85144,1,1,1,366,19,0,275711,1080
9999,45,56294,3,0,0,844,1,1,142409,960

In [30]:
GradientBoostingRegressor.fit(X, y)

np.float64(14.2449)

In [32]:
y_pred = GradientBoostingRegressor.predict(X, X_test)

In [9]:
y_true=np.array([1, 2, 3])
y_pred=np.array([5, 2, 1])

In [10]:
mae(y_true, y_pred)

(np.float64(2.0), 1)

In [24]:
loss = np.mean(np.abs(y_pred - y_true))
errors = y_pred - y_true

In [25]:
grad = np.sign(errors)

In [26]:
grad

array([ 1,  0, -1])

In [22]:
errors

array([4, 0, 2])

In [23]:
y_pred - y_true

array([ 4,  0, -2])