In [1]:
import numpy as np
import pandas as pd
import decisiontree

In [2]:
df = pd.read_csv('loan_delay_days.csv')

In [3]:
X=df.drop('delay_days', axis=1)
y=np.array(df[['delay_days']])

In [4]:
tree = decisiontree.DecisionTreeRegressor(max_depth=3)

In [5]:
tree.fit(X.values, y)

DecisionTreeRegressor(max_depth=3, min_samples_split=2)

In [6]:
print(tree.as_json())  # получишь одну строку JSON

{"feature": 1, "threshold": 44443, "n_samples": 1000, "mse": 408.52, "left": {"feature": 8, "threshold": 370968, "n_samples": 406, "mse": 600.2, "left": {"feature": 9, "threshold": 960, "n_samples": 320, "mse": 267.88, "left": {"value": 10, "n_samples": 181, "mse": 77.61}, "right": {"value": 32, "n_samples": 139, "mse": 245.39}}, "right": {"feature": 9, "threshold": 720, "n_samples": 86, "mse": 874.15, "left": {"value": 30, "n_samples": 35, "mse": 277.97}, "right": {"value": 71, "n_samples": 51, "mse": 587.65}}}, "right": {"feature": 8, "threshold": 361375, "n_samples": 594, "mse": 76.67, "left": {"feature": 9, "threshold": 1380, "n_samples": 471, "mse": 24.29, "left": {"value": 1, "n_samples": 347, "mse": 5.05}, "right": {"value": 7, "n_samples": 124, "mse": 56.05}}, "right": {"feature": 1, "threshold": 52599, "n_samples": 123, "mse": 196.31, "left": {"value": 29, "n_samples": 28, "mse": 175.95}, "right": {"value": 8, "n_samples": 95, "mse": 103.14}}}}

In [7]:
X.head()

,age,income,dependents,has_property,has_car,credit_score,job_tenure,has_education,loan_amount,loan_period
0,76,32181,3,0,1,814,28,1,142434,1770
1,69,52789,8,1,0,501,28,1,120887,1590
2,19,70535,1,0,1,325,26,1,188766,810
3,31,85271,1,0,1,525,29,1,406792,330
4,18,19974,2,0,1,618,34,1,155240,1560

In [8]:
print(tree.predict(X.values[:5]))
print(tree._predict_one_sample(X.values[0]))

[32  7  1  8 32]
32

In [9]:
y[:5]

array([[ 0],
       [ 7],
       [ 0],
       [ 0],
       [43]])